# SAPX API Configuration
# Staging: https://apisanbox.coresyssap.com/
# Production: https://api.coresyssap.com/
SAPX_BASE_URL=https://apisanbox.coresyssap.com
SAPX_API_KEY="DEV_m4rK3tPlac3#_2019"
PORT=3000
NODE_ENV=development
